<launch>
    <!--launch args-->
    <arg name="enable_example_feature_finder" default="false"/>
    <arg name="enable_arduino_slave" default="false"/>
    <arg name="enable_pi_camera" default="false"/>
    <arg name="enable_fake_pi_camera" default="false"/>

    <arg name="verbose_mode" default="none"/>

    <!-- setup parameters-->
    <param name="AlleyhoopVerboseMode" value="$(arg verbose_mode)" />

    <!--launch slave communication-->
    <group if="$(arg enable_arduino_slave)">
        <node name="arduino_slave" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" output="screen"/>
    </group>

    <!--launch pi camera-->
    <group if="$(arg enable_pi_camera)">
        <node name="pi_camera" pkg="raspi_utils" type="raspi_camera.py" output="screen"/>
    </group>

    <!--launch fake pi camera-->
    <group if="$(arg enable_fake_pi_camera)">
        <node name="pi_camera" pkg="raspi_utils" type="fake_raspi_camera.py" output="screen" cwd="node"/>
    </group>

    <!--launch feature finder-->
    <group if="$(arg enable_example_feature_finder)">
        <node name="example_feature_finder" pkg="example_feature_finder" type="example_feature_finder" output="screen"/>
    </group>

    <!--launch core node-->
    <node name="alleyhoop_ros_master" pkg="alleyhoop_ros_master" type="alleyhoop_ros_node" output="screen"/>
    
</launch>